
.container {
    display: table;
    width: 100%;
    padding: 0;
    /*set left/right padding according to needs*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    height: 100%;
    display: table-row;
}

.sidebar {
    display: table-cell;
    width: 20%;
    background: #383435;
    color: #aaa;
    padding-top: 20px;
}

.content {
    width: 70%;
    display: table-cell;
    vertical-align: top;
    padding-left: 20px;
    padding-top: 20px;
}
h2 {
    color: #7e7e7e;
}

i {
    margin: 10px;
}

.bold {
    font-weight: bold;
}

a:link {
    color: #aaa;
    text-decoration: underline;
}

a:visited {
    color: #aaa;
    text-decoration: underline;
}
